@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

.main {
  padding-bottom: 10%;
}

/* img-field */
  .main .img-field {
    background: url("../images/home.jpg");
    width: 100%;
    background-size: cover;
    background-position: 50%;
    position: relative;
  }

  .main .img-field::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .img-field h1 {
    position: relative;
    margin: 0;
    padding: 20%;

    font-size: 5.0rem;
    color: white;
    font-family: "Dancing Script";
    text-align: center;

    z-index: 1;
  }

/* contents */
  .contents {
    margin-top: 3%;
  }

  .contents h1 {
    padding-left: 1%;
    text-align: center;
    font-family: 'Kalam', cursive;
  }

/* contents grid */
  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 2%;
  }

  .grid a {
    display: block;
  }

  .grid a:hover {
    opacity: 0.8;
  }

  .grid a .item img {
    margin: 5% 5%;
    width: 90%;
    height: 70%;
  }

  .grid a .item p {
    margin-top: 0;
    padding: 0 5%;
  }

/* contents skill list */
  .contents .skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    padding: 0;
  }

  .contents .skill li {
    width: 45%;
    margin: 2%;
  }

  .contents .skill li {
    display: flex;
  }

  .contents .skill li img {
    margin-right: 5%;
    width: 50px;
    height: 50px;
  }

  .contents .skill li .text h3 {
    margin: 5px 0 0;
  }

  .contents .skill li .text p {
    margin: 5px 0;
    line-height: 1.5;
  }

/* Contact */
  .contents p {
    text-align: center;
  }

  .contents p a{
    color: rgb(195, 32, 79);
  }

@media(max-width: 600px){
  .contents .skill {
    flex-direction: column;
  }

  .contents .skill li {
    width: 100%;
  }
}